* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
}

.caixa-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.lado-esquerdo{
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-variacao);
    padding: 1rem;
    display: flex;
    gap: 2rem;
    width: 38%;
    height: 30rem;
    color: white;
    /* display: none; */
}

.lado-esquerdo h2{
    font-size: 3rem;
    margin-top: 8rem;
}

.lado-direito{
    padding: 1rem;
    background-color: var(--cor-fundo-padrao);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    width: 58%;
    height: 30rem;
    /* display: none; */
}

.lado-direito h2{
    color: var(--cor-titulo);
    font-size: 3rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

form input{
    padding: 10px;
    border: none;
    width: 18rem;
}

#btn01{
    background-color: var(--cor-fundo-padrao);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 8rem;
}

#btn02{
    background-color: var(--cor-botao-padrao);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 10rem;
}

.icon {
    font-size: 1.8rem;
    cursor: pointer;
}

.segunda-parte{
    display: flex;
    align-items: center;
    justify-content: center;
}

.esquerdo-02{
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-padrao);
    padding: 1rem;
    display: flex;
    gap: 2rem;
    width: 38%;
    height: 30rem;
    color: var(--cor-paragrafo-texto);
    display: none;
}

.esquerdo-02 h2{
    font-size: 3rem;
    color: var(--cor-titulo);
    margin-top: 4rem;
}

.form-02 {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    font-size: 1.4rem;
    width: 14rem;
    margin-top: 2rem;
}

#btn-entrar{
    width: 8rem;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color:var(--cor-botao-padrao);
    
}

#btn-cadastrar{ 
    width: 8rem;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.botoes-segunda{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.direito-02{
    background-image: url(/imagens/engenheiros.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 60%;
    height: 32rem;
    display: none;
}



footer {
    background-color: var(--cor-header-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-fundo-padrao);
    text-align: center; 
}

.logo-footer {
    max-width: 100vw;
    min-width: 90vw;
    border-bottom: 2px solid var(--cor-fundo-padrao);
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    min-width: 90vw;
    padding: 1rem;
    border-bottom: 2px solid var(--cor-fundo-padrao);

    li {
        display: flex;
        margin-top: .5rem;
    }
}

.autoral {
    padding: 1rem;
}

@media (max-width 768px) {
    .esquerdo-02{
        padding: 35px;
    }

    .direito-02{
        height: 550px;
    }

    .lado-esquerdo{max-width: 768px;
        width: 100%;
    }
    .lado-direito{
        width: 100%;
    }

    #sessao01{
        flex-direction: column;
    }

}