* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
}
body{
    height: 100vh;
    width: 100vw;
}

.caixa-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.lado-esquerdo{
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--cor-fundo-variacao);
    padding: 1rem;
    display: flex;
    gap: 2rem;
    width: 40vw;
    color: var(--cor-fundo-padrao);
}

.lado-esquerdo h2{
    font-size: 2rem;
}

.lado-direito{
    padding: 1rem;
    background-color: var(--cor-fundo-padrao);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 2rem;
    width: 60vw;
}

.lado-direito h2{
    color: var(--cor-titulo);
    font-size: 3rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

form input{
    padding: 10px;
    border: none;
    width: 18rem;
}

#btn01{
    background-color: var(--cor-fundo-padrao);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    width: 8rem;
}

#btn02{
    background-color: var(--cor-botao-padrao);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    width: 10rem;
}

.icon {
    font-size: 1.8rem;
    cursor: pointer;
}
