@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
}

:root {
    /* Cores de Fundo e Estrutura */
  --cor-fundo-padrao: #f1f0f3;
  --cor-fundo-variacao: #b96e54;
  --cor-header-footer: #3e2b27;
  --cor-caixas: #9a6e55;
  --cor-caixas-secundario: #6e503e;

  /* Cores de Texto */
  --cor-titulo: #4a3d35;
  --cor-paragrafo-texto: #333333;

  /* Cores de Botões e Ações */
  --cor-botao-padrao: #f29f4b;
  --cor-botao-hover: #d17b4d;
}

body {
    background-color: var(--cor-fundo-padrao);
    scroll-behavior: smooth;
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-header-footer);
    padding: 1rem;
    position: sticky;
    left: 0;
    top: -10px;
    z-index: 999;
}

.logo {
    width: 10rem;
}

.pesquisa-mobile , .pesquisa-desk {
    input {
        width: 50vw;
        height: 1rem;
        padding: 1rem;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: var(--cor-caixas);
        color: var(--cor-fundo-padrao);

        &::placeholder {
            color: var(--cor-fundo-padrao);
            opacity: 50%;
        }
    }
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: start;
    padding-left: 3rem;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 100%;
    top: 0;
    right: 0;
    background-color: var(--cor-fundo-variacao);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
    color: var(--cor-fundo-padrao);
    z-index: 9999;
    font-size: 2rem;

    a {
        color: var(--cor-fundo-padrao);
    }
}

.fa-xmark {
    position: relative;
    bottom: 8rem;
    cursor: pointer;
}

.fa-bars {
    font-size: 2rem;
    color: var(--cor-fundo-padrao);
    cursor: pointer;
}

.pesquisa-mobile {
    display: none;
}

/* footer */
footer {
    background-color: var(--cor-header-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-fundo-padrao);
    text-align: center; 
}

.logo-footer {
    max-width: 100vw;
    min-width: 90vw;
    border-bottom: 2px solid var(--cor-fundo-padrao);
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    min-width: 90vw;
    padding: 1rem;
    border-bottom: 2px solid var(--cor-fundo-padrao);

    li {
        display: flex;
        margin-top: .5rem;
    }
}

.autoral {
    padding: 1rem;
}

@media only screen and (max-width: 600px) {

    header {
        top: 0;
    }

        /* header */
    .pesquisa-mobile {
        display: inline-block;
        margin-bottom: 2rem;

        input {
            width: 90vw;
        }
    }
    .pesquisa-desk {
        display: none;
    }

    .fa-xmark {
        position: absolute;
        top: 3rem;
        left: 50vw;
    }

    .burger-menu {
        align-items: center;
        padding-left: 0;
        text-align: center;
    }

    /* footer */
    .contatos {
        flex-direction: column;
        gap: 1rem;
    }
}