@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
}

:root {
    /* Cores de Fundo e Estrutura */
  --cor-fundo-padrao: #f1f0f3;
  --cor-fundo-variacao: #b96e54;
  --cor-header-footer: #3e2b27;
  --cor-caixas: #9a6e55;

  /* Cores de Texto */
  --cor-titulo: #4a3d35;
  --cor-paragrafo-texto: #333333;

  /* Cores de Botões e Ações */
  --cor-botao-padrao: #f29f4b;
  --cor-botao-hover: #d17b4d;
}

body {
    background-color: var(--cor-fundo-padrao);
    scroll-behavior: smooth;
}


/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor-header-footer);
    padding: 1rem;
}

.logo {
    width: 10rem;
}

#container-search-bar {
    input {
        width: 50vw;
        height: 1rem;
        padding: 1rem;
        border-radius: 15px;
        border: none;
        outline: none;
        background-color: var(--cor-caixas);
        color: var(--cor-fundo-padrao);

        &::placeholder {
            color: var(--cor-fundo-padrao);
            opacity: 50%;
        }
    }
}

.burger-menu {
    display: none;
}

.fa-bars {
    font-size: 2rem;
    color: var(--cor-fundo-padrao);
    cursor: pointer;
}

/* footer */
footer {
    background-color: var(--cor-header-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-fundo-padrao);
    text-align: center; 
}

.logo-footer {
    max-width: 100vw;
    min-width: 90vw;
    border-bottom: 2px solid var(--cor-fundo-padrao);
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100vw;
    min-width: 90vw;
    padding: 1rem;
    border-bottom: 2px solid var(--cor-fundo-padrao);

    li {
        display: flex;
        margin-top: .5rem;
    }
}

.autoral {
    padding: 1rem;
}