* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
}

.container {
    display: flex;
}

.caixa { 
    width: 45%;
    /* Controla o tamanho das divs */
    margin: 10px;
    /* Espaçamento entre as divs */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc 
}

.caixa-01
