* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Code", monospace;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.caixa { 
    width: 45%;
    /* Controla o tamanho das divs */
    margin: 10px;
    /* Espaçamento entre as divs */
    padding: 20px;
    text-align: center;
    border: 1px solid #ccc
    
}

.img{
    background-image: url(imagens/teamwork-3213924_1280.jpg);
    padding: 10rem;

}

.esquerda {
 order: 1; /* Define que a div 'esquerda' virá primeiro */
 
}

.direita{
    order: 2; /* Define que a div 'direita' virá depois */
}

