/* hero */
.img-fixa {
    background-image: url(../imagens/desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 13rem;
}

/* exemplos */

.section-02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: column;

}

.div-caixa-maior {
    display: flex;
    justify-content: end;
    align-items: center;

    background-color: aqua;
    width: 25%;
    height: 17rem;


}

.div-caixas-img {

    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 50px;


}

.div-caixa {

    text-align: center;
    width: 100px;
    background-color: brown;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    height: 100px;
}

.section-03 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 3rem;
    flex-wrap: wrap;

}

.section-03 h2 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;


}

.section-03 p {

    font-size: 1rem;

}

.section-03 a {

    width: 12rem;

}


.section-04 {
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 3rem;
    flex-wrap: wrap;

}

.section-04 img {

    background-color: blue;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1%;
    padding: 4rem;
    width: 1rem;
    float: left;

}

.section-04 h2 {
font-size: 3rem;

}

.section-04 p {
    font-size: 1rem;
}

.section-04 button { 
    margin-left: 1rem;
    width: 10rem;
    padding: 0.5rem;

    
}

.contratar {

    display: flex;
    align-items: end;
}

.section-04 i {

    display: inline;
    width: 4rem;
    float: left;

}






/* Postar Serviço */

/* Serviços */

/* carrossel de avaliaçõs */

/* Banner 2 */