/* hero */
.img-fixa {
    background-image: url(../imagens/desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 13rem;
}

/* exemplos */

.section-02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: center;

}

.div-caixa-maior {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#9a6e55;
    width: 25%;
    height: 17rem;


}

.div-caixa-maior video {
    display: flex;
    justify-content: center; 
    width: 17rem;
    height: 30rem;
}

.div-caixas-pai {

    background-color: #9a6e55;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem; 
    padding: 60px;
    width: 20rem;


}

.div-caixa img {
    width: 12rem;
    padding: 8px;
    height: 11rem;
    


}

/* .div-caixa {

    text-align: center;
    width: 100px;
    background-color:black;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    height: 100px;
} */

.section-03 {
    background-color:#f1f0f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 1rem;
    flex-wrap: wrap;

}



.section-03 h2 {
    color:brown;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;


}

.section-03 p {

    color: #333333;
    font-size: 1.5rem;

}



.section-03 button {

    background-color: #d17b4d;
    color: black;
    gap: 1rem;
    width: 9rem;
    padding: 0.1rem;
    margin-top: 6rem;
}

.section-04 {
    background-color:#f1f0f3;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 8rem;
    gap: 4rem;
    flex-wrap: wrap;


}

.section-04 img {
    
    background-color:#9a6e55;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 4rem;
    padding: 4rem;
    float: inline-start;
    margin: 0 2rem;
    gap: 8rem;

}

.contratar {
    position: relative;
    bottom: 4rem;
    left: 4rem;
    color: black;
    background-color: #d17b4d;



}

.section-04 h2 {
    font-size: 2rem;
    display: inline;
    color: #333333;
}

.section-04 i {
    display: inline;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    width: 2rem;
    padding: 0.5rem;
    height: 2rem;
}

.section-04 p {

    font-size: 1rem;
    color: #333333;


}

.section-04 button {
    position: relative;
    left: 2rem;
    width: 7rem;
    padding: 0.5rem;
    color:black;
    background-color: #d17b4d;
}






/* Postar Serviço */

/* Serviços */

/* carrossel de avaliaçõs */
.carrocel-avaliacao{
    text-align: center;
    padding: 1rem;

    h2 {
        margin-bottom: 2rem;
        color: var(--cor-titulo);
    }
}

:root {
    --swiper-pagination-color: var(--cor-botao-padrao);
    --swiper-navigation-color: var(--cor-botao-padrao);
}

.swiper {
    min-height: 20rem;
    height: auto; 
}

.card-swiper {
    background-color: var(--cor-caixas);
    height: 15rem;
    color: var(--cor-fundo-padrao);
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 1s;

    h3 {
        border-top: 2px solid var(--cor-fundo-padrao);
    }
}

.swiper-slide-active .card-swiper {
    background-color: var(--cor-caixas-secundario);
}

.botao {
    margin: 1rem;
    a {
        background-color: var(--cor-botao-padrao);
        color: var(--cor-fundo-padrao);
        transition-duration: 1s;
        padding: 1rem;
        border-radius: 15px;
        display: inline-block;

        &:hover {
            scale: 1.1;
            background-color: var(--cor-botao-hover);
        }
    }
}

.comentarios-final-text {
    color: var(--cor-paragrafo-texto);
}

/* Banner 2 */