/* hero */
.img-fixa {
    background-image: url(../imagens/desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 13rem;
}

/* exemplos */

.section-02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: column;

}

.div-caixa-maior {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: aqua;
    width: 25%;
    height: 17rem;


}

.div-caixas-img {

    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 50px;
    width: 20rem;


}

.div-caixa {

    text-align: center;
    width: 100px;
    background-color: brown;
    padding: 5px;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    display: flex;
    height: 100px;
}

.section-03 {
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 1rem;
    flex-wrap: wrap;

}

.line-strong {
    /* margin: 1rem auto; */
    width: 70%;
}

.section-03 h2 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    /* margin-bottom: 1rem; */
    text-transform: uppercase;


}

.section-03 p {

    font-size: 1rem;

}

.section-03 a {

    width: 12rem;

}

.section-04 {
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: safe;
    padding: 8rem;
    gap: 3rem;
    flex-wrap: wrap;


}

.section-04 img {
    
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    padding: 4rem;
    float: inline-start;
    margin: 1rem;

}

.contratar {
    display: inline-flex;
}

.section-04 h2 {
    font-size: 2rem;
    display: inline;
}

.section-04 i {
    display: inline;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    width: 2rem;
    padding: 0.5rem;
    height: 2rem;
}

.section-04 p {

    font-size: 1rem;

}

.section-04 button {
    width: 7rem;
    padding: 0.5rem;
}


.section-05 {
    background-color:bisque;
    display: flex;
    justify-content: center;
    align-items: safe;
    padding: 8rem;
    gap: 3rem;
    flex-wrap: wrap;


}

.section-05 img {
    
    background-color: blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    padding: 4rem;
    float: inline-start;
    margin: 1rem;

}

.contratar {
    display: inline-flex;
}

.section-05 h2 {
    font-size: 2rem;
    display: inline;
}

.section-05 i {
    display: inline;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    width: 2rem;
    padding: 0.5rem;
    height: 2rem;
}

.section-05 p {

    font-size: 1rem;

}

.section-05 button {
    width: 7rem;
    padding: 0.5rem;
}

.section-06 {
    background-color:aquamarine;
    display: flex;
    justify-content: center;
    align-items: safe;
    padding: 8rem;
    gap: 3rem;
    flex-wrap: wrap;


}

.section-06 img {
    
    background-color:blue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 3rem;
    padding: 4rem;
    float: inline-start;
    margin: 1rem;

}

.contratar {
    display: inline-flex;
}

.section-06 h2 {
    font-size: 2rem;
    display: inline;
}

.section-06 i {
    display: inline;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    width: 2rem;
    padding: 0.5rem;
    height: 2rem;
}

.section-06 p {

    font-size: 2rem;

}

.section-06 button {
    width: 7rem;
    padding: 0.5rem;
}



.section-04 {
    background-color:blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 3rem;
    flex-wrap: wrap;

}

/* .section-04 img {

    background-color: blue;
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 1%;
    padding: 4rem;
    width: 1rem;
    float: left;

}

.section-04 h2 {
font-size: 3rem;

}

.section-04 p {
    font-size: 1rem;
}

.section-04 button { 
    margin-left: 1rem;
    width: 10rem;
    padding: 0.5rem;

    
}

.contratar {

    display: flex;
    align-items: end;
}

.section-04 i {

    display: inline;
    width: 4rem;
    float: left;

} */






/* Postar Serviço */

/* Serviços */

/* carrossel de avaliaçõs */
.carrocel-avaliacao{
    text-align: center;
    padding: 1rem;

    h2 {
        margin-bottom: 2rem;
        color: var(--cor-titulo);
    }
}

:root {
    --swiper-pagination-color: var(--cor-botao-padrao);
    --swiper-navigation-color: var(--cor-botao-padrao);
}

.swiper {
    min-height: 20rem;
    height: auto; 
}

.card-swiper {
    background-color: var(--cor-caixas);
    height: 15rem;
    color: var(--cor-fundo-padrao);
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 1s;

    h3 {
        border-top: 2px solid var(--cor-fundo-padrao);
    }
}

.swiper-slide-active .card-swiper {
    background-color: var(--cor-caixas-secundario);
}

.botao {
    margin: 1rem;
    a {
        background-color: var(--cor-botao-padrao);
        color: var(--cor-fundo-padrao);
        transition-duration: 1s;
        padding: 1rem;
        border-radius: 15px;
        display: inline-block;

        &:hover {
            scale: 1.1;
            background-color: var(--cor-botao-hover);
        }
    }
}

.comentarios-final-text {
    color: var(--cor-paragrafo-texto);
}

/* Banner 2 */