/* hero */
.img-fixa {
    background-image: url(../imagens/desktop.jpg);
    background-size: cover;
    background-position: center;
    padding: 13rem;
}

/* exemplos */

.section-02 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2.5rem;
    padding: 2rem;
    flex-wrap: wrap;
    flex-direction: center;

}

.div-filho-01 {
    width: 14rem;
    height: 14rem;

}

.box {
    width: 12rem;
    height: 12rem;


}

.box-pai {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.box-pai00 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


.caixa-01 {
    background-image: url(../imagens/claudio/engenheiros.jpg);
    background-position: center;
    background-size: cover;
}

.caixa-02 {

    background-image: url(../imagens/claudio/Mecânica\ Industrial.jpg);
    background-position: center;
    background-size: cover;

}

.caixa-03 {
    background-image: url(../imagens/claudio/pexels-akoonie-32751450.jpg);
    background-position: center;
    background-size: cover;
}

.caixa-04 {
    background-image: url(../imagens/claudio/pexels-anastasia-shuraeva-8470882.jpg);
    background-position: center;
    background-size: cover;
}

.caixa-05 {
    background-image: url(../imagens/claudio/pexels-kindelmedia-8487400\ \(1\).jpg);
    background-position: center;
    background-size: cover;
}

.caixa-06 {
    background-image: url(../imagens/claudio/pexels-nadezhda-moryak-6629357.jpg);
    background-position: center;
    background-size: cover;

}






.pai-02 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}



.div-caixa {

    text-align: center;
    width: 10rem;
    /* background-color:black; */
    padding: 2rem;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: 20px;
}

.section-03 {
    background-color: #b96e54;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 1rem;
    flex-wrap: wrap;

}



.section-03 h2 {
    color: #f1f1f1;
    ;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;


}

.section-03 p {

    color: #333333;
    font-size: 1.5rem;

}





.section-03 button {

    background-color: #f29f4b;
    font-size: 1.5rem;
    color: #f1f0f3;
    gap: 1rem;
    width: 14rem;
    padding: 1rem;
    margin-top: 2rem;
    border: none;
    transition-duration: 0.3s;

}

.section-03 button:hover {
    background-color: #d17b4d;
    scale: 1.2;
}

.section-04 {
    background-color: #f1f0f3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem;
    gap: 4rem;
    flex-wrap: wrap;


}

.estrelas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.teg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;

}

.teg p {
    width: 9rem;
    height: 2.5rem;
    background-color: #9a6e55;
    text-align: center;
}


.caixa-07 {

    background-color: #9a6e55;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 4rem;
    padding: 4rem;
    float: inline-start;
    margin: 0 2rem;
    gap: 8rem;

}

.serviços {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contratar {
    background-color: #d17b4d;
    border: none;
    transition-duration: 0.3s;

}

.contratar p {
    color: #f1f1f1;
}

.contratar:hover {
    background-color: #d17b4d;
    scale: 1.2;
}

.section-04 h2 {
    font-size: 2rem;
    display: inline;
    color: #333333;
}

.section-04 i {
    display: inline;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 2rem;
    padding: 0.5rem;
    height: 2rem;
}

.section-04 p {

    font-size: 1rem;
    color: #333333;


}

.section-04 button {
    position: relative;
    left: 2rem;
    width: 7rem;
    padding: 0.5rem;
    color: black;
    background-color: #d17b4d;
}


.banner-02 {
    background-image: url(../imagens/desktop\ banner\ 2.jpg);
    background-size: cover;
    background-position: center;
    padding: 13rem;


}





/* Postar Serviço */

/* Serviços */

/* carrossel de avaliaçõs */
.carrocel-avaliacao {
    text-align: center;
    padding: 1rem;

    h2 {
        margin-bottom: 2rem;
        color: var(--cor-titulo);
    }
}

:root {
    --swiper-pagination-color: var(--cor-botao-padrao);
    --swiper-navigation-color: var(--cor-botao-padrao);
}

.swiper {
    min-height: 20rem;
    height: auto;
}

.card-swiper {
    background-color: var(--cor-caixas);
    height: 15rem;
    color: var(--cor-fundo-padrao);
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition-duration: 1s;

    h3 {
        border-top: 2px solid var(--cor-fundo-padrao);
    }
}

.swiper-slide-active .card-swiper {
    background-color: var(--cor-caixas-secundario);
}

.botao {
    margin: 1rem;

    a {
        background-color: var(--cor-botao-padrao);
        color: var(--cor-fundo-padrao);
        transition-duration: 1s;
        padding: 1rem;
        border-radius: 15px;
        display: inline-block;

        &:hover {
            scale: 1.1;
            background-color: var(--cor-botao-hover);
        }
    }
}

.comentarios-final-text {
    color: var(--cor-paragrafo-texto);
}

/* Banner 2 */